.board-loading {
  pointer-events: none;
}

.board-text-loading {
  position: relative;
  height: 19px;
  width: 100%;
  background-color: rgba(130, 143, 163, .1);
  border-radius: 100px;
  overflow: hidden;
}

.board-text-loading::after {
  content: '';
  position: absolute;
  left: -5%;
  height: 100%;
  width: 10px;
  box-shadow: 0 0 3px 0 #828FA3;
  background-color: #828FA3;
  filter: blur(10px);
  opacity: .3;
  border-radius: 8px;
  animation: load 1s ease-in-out infinite;
}