.header {
  position: relative;
  padding: 16px 0 16px 16px;
  height: 64px;
  background-color: var(--clr-modal);
  display: flex;
  align-items: center;
  z-index: 100;
}

.subtitle {
  margin-left: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--clr-text);

  display: flex;
  align-items: center;
  gap: 8px;
}

.rotate-arrow {
  transform: rotate(180deg);
}

.add-task-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.large-btn {
  display: none;
}

.edit-btn {
  padding: 13px 16px;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit-btn img {
  align-self: flex-end;
}

.line {
  display: none;
}

@media (min-width: 376px) {
  .header {
    padding: 21.39px 0 21.39px 24px;
    height: 80px;
    box-shadow: 0 1px 0 0 var(--clr-line);
  }

  .subtitle {
    margin-left: 24px;
    font-size: 20px;
    line-height: 25px;
  }

  .edit-btn {
    padding: 13px 24px;
  }
}

@media (min-width: 600px) {
  .subtitle {
    pointer-events: none;
  }

  .arrow-down,
  .rotate-arrow {
    display: none;
  }

  .small-btn {
    display: none;
  }

  .large-btn {
    display: block;
  }

  .line {
    display: block;
    width: 1px;
    height: 80px;
    background-color: var(--clr-line);
    margin-left: 24.47px;
  }
}

@media (min-width: 769px) {
  .header {
    padding: 24px 0 24px 24px;
    height: 96px;
  }

  .subtitle {
    margin-left: 32px;
    font-size: 24px;
    line-height: 30px;
  }

  .line {
    height: 96px;
    margin-left: 32.47px;
  }
}

.hide-overlay {
  opacity: .5;
  animation: out 450ms ease-out forwards;
}

@keyframes out {
  to {
    opacity: 0;
    display: none;
  }
}

/* drop menu */
.drop-menu {
  position: absolute;
  top: 90px;
  right: 24px;
  padding: 16px;
  width: 192px;
  background-color: var(--clr-select);
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border: 0;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  z-index: 100;
}

.drop-menu button {
  width: 100%;
  color: #828FA3;
  border: 0;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-align: left;
}

.drop-menu button:last-child {
  color: #EA5555;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.remove-loading {
  aspect-ratio: 1 / 1;
  width: 20px;
  border: 3px solid #EA5555;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  animation: remove 800ms ease-in-out infinite;
}

@keyframes remove {
  to {
    transform: rotate(360deg);
  }
}