.form-control-checkbox *,
.form-control-checkbox {
  cursor: pointer;
}

.form-control-checkbox {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 12px;
  max-width: 416px;
  width: 100%;

  background-color: var(--clr-grey);
  border-radius: 4px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.form-control-checkbox:hover {
  background-color: var(--clr-checkboxHover);
}

.label-text {
  color: var(--clr-text);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.checkbox-input:checked~.label-text {
  text-decoration: line-through;
  opacity: .5;
}

.checkbox-input {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;

  aspect-ratio: 1 / 1;
  width: 16px;
  height: 16px;
  border-radius: 2px;

  display: grid;
  place-content: center;
}

.checkbox-input:checked {
  background-color: var(--clr-variant);
}

.checkbox-input-container {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 16px;
}

.check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}