.modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-title {
  color: var(--clr-text);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.modal-paragraph {
  color: #828FA3;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
}

/* columns group */
.label-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.group-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.group-item {
  display: flex;
  align-items: flex-end;
  gap: 0;
}

.group-item button {
  padding: 10px 0 10px 16px;
  background-color: transparent;
  border: 0;
}

.group-item .form-control-textfield {
  width: 100%;
}