button {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 89;
}

.form-control-select {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.select-container {
  position: relative;
  height: 40px;
  max-width: 416px;
  width: 100%;
}

.select {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 8px 15.8px 9px 16px;

  color: var(--clr-text);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  background-color: transparent;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 91;
}

.select:hover {
  border: 1px solid var(--clr-variant);
}

.active-select,
.active-select:focus:not(:focus-visible) {
  border: 1px solid var(--clr-variant);
}

.select-options {
  position: absolute;
  top: 48px;
  width: 100%;
  padding: 12px;

  background-color: var(--clr-select);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  z-index: 90;
}

.option {
  width: 100%;
  text-align: left;
  padding: 4px;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;

  color: var(--clr-label);
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.option:hover {
  background-color: var(--clr-checkboxHover);
}