.form-control-textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-control-textfield label {
  cursor: pointer;
}

.textfield-container {
  margin-top: 8px;
  position: relative;
  max-width: 416px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.text-field {
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 16px;
  width: 100%;
  height: 100%;

  outline: 1px solid rgba(130, 143, 163, 0.25);
  outline-offset: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  color: var(--clr-text);
  background-color: transparent;
  border: 0;
  border-radius: 4px;
}

.text-field::placeholder {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  opacity: .25;
}


.text-field:hover,
.text-field:focus {
  outline: 1px solid var(--clr-variant);
  outline-offset: 0px;
}

.invalid-text {
  outline: 1px solid var(--clr-red);
}

.invalid-text::after {
  content: attr(data-attr);
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: 16px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border-radius: 4px;

  color: var(--clr-red);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  pointer-events: none;
}

.invalid-text:hover,
.invalid-text:focus {
  border: 0;
  outline: 1px solid var(--clr-red);
  outline-offset: 0px;
}